---
layout: default
---

<div class="row">
    <div class="col-lg-10 mx-auto">
        <article class="wiki-note bg-white shadow-sm rounded-xl p-4 p-md-5">
            <div class="mb-4">
                <a class="small" href="{{ '/wiki/' | relative_url }}">
                    <i class="fas fa-arrow-left"></i> Wiki
                </a>
            </div>
            {% assign fixed_content = content | replace: 'src="assets/', 'src="../assets/' | replace: 'href="assets/', 'href="../assets/' %}
            {{ fixed_content }}
        </article>
    </div>
</div>
