---
layout: default
---

{% assign fixed_content = content | replace: 'src="assets/', 'src="../assets/' | replace: 'href="assets/', 'href="../assets/' %}
{% assign back_url = '/wiki/' %}
{% assign back_label = 'Wiki' %}
{% if page.type == 'paper-reading' %}
    {% assign back_url = '/paper-reading/' %}
    {% assign back_label = 'Paper Reading' %}
{% endif %}

<div class="reading-progress" aria-hidden="true">
    <span></span>
</div>

<div class="blog-layout-wrapper">
    <div class="blog-main">
        <div class="mb-3">
            <a class="small" href="{{ back_url | relative_url }}">
                <i class="fas fa-arrow-left"></i> {{ back_label }}
            </a>
        </div>

        <article class="bg-white rounded-xl p-4 p-md-5 mb-4 wiki-note-card" data-pagefind-body>
            <div class="blog-content wiki-note">
                {{ fixed_content }}
            </div>
        </article>
    </div>

    <aside class="blog-toc-sidebar">
        <nav id="blog-toc" class="blog-toc-nav" aria-label="Table of contents">
            <div class="blog-toc-title">On This Page</div>
            <div class="blog-toc-list"></div>
        </nav>
    </aside>
</div>
